/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* Body */

body {
    background-color: #e2c8d2;
    color: #000000;
}

/* Main */

h1 {
    color: #663a4b;
    font-family: "Itim", cursive;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#reiki_description_section {
    padding: 10px;
    margin-top: 30vh;
    text-align: center;
    background-color: #663a4b;
}

span {
    font-family: "Itim", cursive;
    color: #663a4b;
    font-size: 30px;
    font-weight: bold;
}

.span_light_title {
    font-family: "Itim", cursive;
    color: #663a4b;
}

.span_light {
    font-family: "Itim", cursive;
    color: #663a4b;
    font-size: 25px;
}

.description_p {
    font-size: 20px;
    flex: 1;
    padding: 10px 0 10px 20px;
    font-weight: 500px;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

#div_mikao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

#mikao_usui {
    width: 140px;
    margin-right: 20px;
    border: 3px solid #e2c8d2;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.description_significados {
    font-size: 20px;
    padding: 0 0 0 20px;
    font-weight: 500px;
    text-align: justify;
    font-weight: 500px;
    margin: 0 20px 20px 20px;
}

#description_more {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #e2c8d2;
    text-decoration: underline;
    font-family: "Itim", cursive;
}

h2 {
    color: #663a4b;
    font-family: "Itim", cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
    margin: 20px;
    text-align: justify;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500px;
    color: #000000;
}

/* KEYFRAMES */

@keyframes title_show {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img, span {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 20% cover 25%;
    animation-fill-mode: both;
}

/* Webkits */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #e2c8d2;
}

::-webkit-scrollbar-thumb {
    background: #663a4b;
    border-radius: 0 5px 0 5px;
}