/* Global Definicions */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Ubuntu", sans-serif;
}

span {
    color: #663a4b;
    font-family: "Itim", cursive;
    font-size: 30px;
    text-decoration: justify;
}

/* Banner */

.banner_div {
    width: 100%;
    height: 100px;
    background: linear-gradient(#663a4b 10%, #e2c8d2 90%);
    position: relative;
    top: -20px;
}


.logo {
    height: 130px;
    margin-left: 20px;
}

/* Nav Bar */

nav {
    background-color: #663a4b;
}

.nav_links {
    list-style: none;
    float: right;
    margin-right: 40px;
    margin-top: 50px;
}

.nav_buttons {
    text-decoration: none;
    color: white;
    font-family: "Itim", cursive;
    font-size: 18px;
    margin: 20px;
}

i {
    margin-right: 8px;
}

/* Main */

/* Body | Main */

body {
    background-color: #e2c8d2;
}

/* Home | Main */

#home {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0 20px 0 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Itim", cursive;
}

.title_spans {
    font-size: 60px;
    text-decoration: justify;
}

#sub_title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: "Itim", cursive;
}

#button_contact {
    align-self: center;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #663a4b;
    text-decoration: none;
    font-family: "Itim", cursive;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #000;
}

/* About Us | Main */

#about_title {
    padding-top: 50vh;
    font-family: "Itim", cursive;
    font-size: 30px;
    padding-left: 20px;
}

#about_text {
    padding-left: 40px;
    font-size: 20px;
    padding-right: 20px;
}

/* Reiki Description Section | Main */

#reiki_description_section {
    padding: 10px;
    margin-top: 30vh;
    text-align: center;
    background-color: #663a4b;
}

.span_light_title {
    color: #e2c8d2;
}

.span_light {
    color: #e2c8d2;
    font-size: 25px;
}

#description_title {
    font-family: "Itim", cursive;
    padding-top: 20px;
    padding-bottom: 10px;
}

.description_p {
    font-size: 20px;
    flex: 1;
    padding: 10px 0 10px 20px;
    font-weight: 500px;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

#div_mikao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

#mikao_usui {
    width: 140px;
    margin-right: 20px;
    border: 3px solid #e2c8d2;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
}

.description_significados {
    font-size: 20px;
    padding: 0 0 0 20px;
    font-weight: 500px;
    text-align: justify;
    font-weight: 500px;
    margin: 0 20px 20px 20px;
}

/* Contact */

#contact_title {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

form {
    padding-top: 10px;
    padding-left: 20px;
}

label {
    font-size: 20px;
    font-family: "Itim", cursive;
    color: #663a4b;
}

input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    max-width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Itam", cursive;
    color: #663a4b;
}

button {
    background-color: #663a4b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: "Itim", cursive;
    border-radius: 5px;
    margin-bottom: 10px;
}

#title_map {
    font-size: 25px;
    text-align: center;
}

#map_container {
    float: right;
    background-color: #663a4b;
    border-radius: 10px;
    margin-right: 10px;
}

#map {
    width: 350px;
    height: 300px;
    margin: 3px;
    border: none;
    border-radius: 10px;
}

/*|---------------|*/
/*| PRECAUCION!!! |*/
/*| MEDIA SECTION |*/
/*|---------------|*/

@media (max-width: 768px) {
    #title {
        font-size: 35px;
    }

    .title_spans {
        font-size: 45px;
    }

    nav {
        text-align: center;
    }

    .nav_links {
        display: none;
    }

    .nav_buttons {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

    #about_title {
        font-size: 25px;
    }

    #about_text {
        font-size: 18px;
    }

    #div_mikao {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #mikao_usui {
        width: 50%;
        max-width: 300px;
    }

    .description_p {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    #title {
        font-size: 70px;
        padding-top: 20px;
    }

    .title_spans {
        font-size: 80px;
    }

    #sub_title {
        font-size: 40px;
    }

    span {
        font-size: 40px;
    }

    #about_title {
        font-size: 40px;
    }

    #about_text {
        font-size: 25px;
    }

    #description_title {
        font-size: 35px;
    }

    .description_p {
        font-size: 25px;
        flex: 1;
    }

    .description_significados {
        font-size: 25px;
    }

    .span_light {
        font-size: 30px;
    }
}